@import url('https://fonts.googleapis.com/css?family=Anton');
$color-primary: #3D314A;
$color-secondary: #EB8884;
$font: Anton, sans-serif;

.background-color {
    width: 100vw;
    height: 100vh;
    background-color:$color-secondary;
}
.loader-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader__text {
    margin: 5px auto;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $font;
}

.loader__filmstrip {
    position: relative;
    width: 56px;
    height: 70px;
    background: $color-primary;
    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 120%;
        border-left: 5px dashed $color-secondary;
        animation: roll 20ms infinite;
    }
    &:before {
        left: 5px;
    }
    &:after {
        right: 5px;
    }
    }

    @keyframes roll {
    0% {
        top: 0px;
    }
    100% {
        top: -15px;
    }
}